<app-header2></app-header2>

<ion-content class="background ion-padding">
  <div id="header">
    <h1>Restaurar Contraseña</h1>
  </div>

  <form id="form-recovery" [formGroup]="formularioRestaurar">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <p class="ion-text-end loginLink" color="secondary" [routerLink]="['/login']">Volver al login</p>
    <ion-button expand="block" shape="round" class="btn-login" (click)="restaurar()">Enviar</ion-button>
  </form>

</ion-content>
<app-footer1></app-footer1>