<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="../assets/img/logo.png">
    <h1>RegistrAPP</h1>
    <h3>Inicio de sesión</h3>

  </div>

  <form id="form-login" [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <p class="ion-text-end recoveryLink" color="secondary" [routerLink]="['/password-reset']">¿Ha olvidado su contraseña?</p>
    <ion-button expand="block" shape="round" class="btn-login" (click)="ingresar()">Ingresar</ion-button>
  </form>

</ion-content>
