<app-header1></app-header1>

<ion-content class="background ion-padding">
  <div id="header">
    <h1>Inicio de sesión</h1>
  </div>

  <form id="form-login" [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <p class="ion-text-end recoveryLink ion-padding-top" [routerLink]="['/password-reset']">¿Ha olvidado su
      contraseña?</p>
    <ion-button expand="block" shape="round" class="btn-login" (click)="ingresar()">Ingresar</ion-button>
  </form>
</ion-content>
<app-footer1></app-footer1>
