ion-toolbar {
  --background: #f5f5f3;

  ion-button {
    text-transform: initial;
  }
}

ion-content.background {
  --background: url(../../assets/img/bgimg.png) no-repeat 100% 100%;

  #content {
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;

    .username {
      text-transform: uppercase;
    }

    h1 {
      font-weight: 500;
      font-size: 21px;
      color: #fff;
    }

    .btn-login {
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }

    ion-button {
      border-radius: 50px;
      margin-top: 25px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
    }

    ion-buttons {
      display: flex;
      flex: column;
      justify-content: center;
      margin: 0;
    }

    .recoveryLink {
      color: #0b7be4;
      text-decoration: underline;
    }
  }
}
